html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.post-title-break {
  display: none;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

section {
  width: 100%;
  padding: 0 10%;
}

.fixed-sidebar {
  position: fixed;
  top: 38.17%;
}

.scroll-to-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
}

#icon-list {
  list-style: none;
  padding-left: 1.5vw;
}

#icon-list > li:not(:last-child) {
  margin-bottom: 5px;
}

#top {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-image: url(./background3.png);
  background-repeat: no-repeat;
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

#experience {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./experience-back.png);
  background-repeat: no-repeat;
}

#projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-item {
  width: 350px;
  height: 350px;
  margin: 20px;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid gray;
}

.project-item h4 {
  margin: 0 0 15px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 3%;
  border-radius: 15px;
}

.top-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 66%;
}

.top-img-container {
  display: flex;
  justify-content: center;
  width: 31%;
}

.pre-title {
  font-size: 18px;
  font-weight: regular;
  margin: 0;
}

.top-info-container > h1 {
  font-size: 90px;
  margin-top: -0.5%;
  margin-bottom: 0.5%;
  letter-spacing: 6px;
}

a:link {
  text-decoration: none;
}

#about a {
  color: #457b9d;
  font-weight: 300;
}

#about a:hover {
  color: #035c94;
}

a.icon-link,
a.title-link {
  color: black;
  transition: all 250ms ease-in;
}

a.title-link:hover,
a.icon-link:hover {
  color: #a8dadc;
  fill: #a8dadc;
  stroke: #a8dadc;
}

.post-title {
  font-weight: 100;
  letter-spacing: 1.44px;
  font-size: 24px;
  line-height: 43px;
}

.Typewriter {
  display: inline;
}

.Typewriter__cursor {
  font-weight: 500;
  color: #e63946;
}

.typing-effect {
  font-weight: 500;
  color: #e63946;
}

.button-row button,
.Typewriter button {
  height: 50px;
  padding: 0 4%;
  font-weight: bold;
  font-size: 18px;
  margin-right: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  border: solid 2px black;
}

button > svg {
  padding-bottom: 1px;
}

button:hover svg path,
button:hover {
  border-color: #457b9d;
  color: #457b9d;
  fill: #457b9d;
  stroke: #457b9d;
  cursor: pointer;
}

.about-info-container {
  flex: 1;
  padding-right: 4%;
}

.about-skills-container {
  flex: 1;
}

.about-info-container h2,
.about-skills-container h2 {
  font-size: 68px;
  display: inline-block;
  border-bottom: 6px solid black;
  line-height: 70px;
  margin-bottom: 8%;
}

.about-skills-container h4 {
  font-size: 22px;
  color: #457b9d;
  letter-spacing: 1.44px;
  margin: 15px 0;
}

.about-info-container p {
  font-size: 20px;
  line-height: 34px;
  font-weight: 100;
  letter-spacing: 1.22px;
  margin-bottom: 8%;
}

.proficient-row,
.intermediate-row {
  margin-bottom: 6px;
}

.proficient-row,
.intermediate-row,
.beginner-row {
  margin-left: 25px;
}

.proficient-row span {
  border: 2px solid #4c7564;
  background-color: #4decbc25;
  border-radius: 10px;
  padding: 3px 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 4px;
}

.intermediate-row span {
  border: 2px solid #c5c830;
  background-color: #dbdca825;
  border-radius: 10px;
  padding: 3px 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 4px;
}

.beginner-row span {
  border: 2px solid #838789;
  background-color: #b6bbbb25;
  border-radius: 10px;
  padding: 3px 14px;
  font-weight: 500;
  display: inline-block;
}

.experience-title {
  height: 100px;
  text-align: center;
}

.experience-title h2 {
  font-size: 68px;
  display: inline-block;
  border-bottom: 6px solid black;
  line-height: 70px;
  margin-bottom: 8%;
  overflow: visible;
}

.experience-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.footer-div {
  margin-top: 8vh;
  margin-bottom: 5vh;
  text-align: center;
}

.footer-div p {
  font-size: 14px;
  font-weight: 100;
}

.projects-title {
  text-align: center;
}

.projects-title h2 {
  font-size: 68px;
  display: inline-block;
  border-bottom: 6px solid black;
  line-height: 70px;
  margin-top: 5%;
  margin-bottom: 1%;
  overflow: visible;
}

.projects-title p {
  font-size: 16px;
  font-weight: 300;
}

.project-item-row {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-item-row span {
  border: 2px solid #a8dadc;
  background-color: #f1faeedc;
  border-radius: 10px;
  padding: 3px 14px;
  font-weight: 500;
  margin-right: 2px;
}

.modal {
  position: fixed;
  z-index: 500;
  border-radius: 10px;
  background-color: white;
  width: 33%;
  border: 1px solid #ccc;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  left: 33%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.project-item:hover {
  cursor: pointer;
}

.modal-close::before {
  position: absolute;
  right: 20px;
  top: 15px;
  content: '\2715';
  color: rgb(102, 101, 101);
  font-weight: 500;
}

.modal-close:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.project-info-container p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1.22px;
  margin-bottom: 5%;
}

.project-info-container h2 {
  color: black;
  font-weight: 500;
  margin-top: 5%;
}

.project-info-container a:link {
  text-decoration: none;
}

.project-info-container a {
  color: #457b9d;
  font-weight: 400;
}

.project-info-container a:hover {
  color: #035c94;
}

@media (min-width: 1426px) {
  #top {
    background-size: cover;
  }

  #experience {
    background-size: cover;
  }

  .post-title {
    width: 95%;
  }
}

@media (max-width: 1425px) {
  #top {
    background-size: 100% 100%;
  }

  #experience {
    background-size: 100% 100%;
  }
}

@media (max-width: 1150px) {
  .post-title-break {
    display: initial;
  }
}

@media (max-width: 1000px) {
  #top {
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background-image: url('./phone-bg.png');
  }

  #experience {
    background-image: url('./experience-bg-smaller.png');
  }

  .card-img-wrapper {
    width: 25%;
  }

  #glome-card {
    width: 70%;
  }

  .card {
    width: 90%;
  }

  .card h3 {
    font-size: 17px;
  }

  .card h4 {
    font-size: 13px;
  }

  .experience-title h2 {
    font-size: 60px;
  }

  .projects-title h2 {
    font-size: 60px;
  }

  .about-info-container h2,
  .about-skills-container h2 {
    font-size: 60px;
    display: inline-block;
    border-bottom: 6px solid black;
    line-height: 70px;
    margin-bottom: 8%;
  }

  .about-skills-container h4 {
    font-size: 22px;
    color: #457b9d;
    letter-spacing: 1.44px;
    margin: 15px 0;
  }

  .about-info-container p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 100;
    letter-spacing: 1.22px;
    margin-bottom: 8%;
  }

  .top-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 66%;
    width: 80%;
    margin-bottom: 80px;
    text-align: center;
  }

  .top-img-container {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-bottom: 3%;
    margin-top: -20%;
  }

  .pre-title {
    font-size: 14px;
    font-weight: regular;
    margin: 0;
  }

  .post-title {
    font-weight: 100;
    letter-spacing: 1.44px;
    font-size: 22px;
    line-height: 40px;
  }

  .top-info-container > h1 {
    font-size: 45px;
    margin-top: -0.5%;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
  }

  .modal {
    position: fixed;
    z-index: 500;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    left: 25%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
}

@media (max-width: 800px) {
  .card-img-wrapper {
    width: 40%;
  }

  .project-item {
    padding-top: 4%;
  }

  #about {
    flex-direction: column;
  }

  .about-info-title,
  .about-skills-title {
    text-align: center;
  }

  .about-info-container h2,
  .about-skills-container h2 {
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .about-info-br {
    display: none;
  }

  .post-title {
    font-size: 19px;
  }

  .button-row button,
  .Typewriter button {
    height: 40px;
    padding: 0 4%;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    border: solid 2px black;
  }
}

@media only screen and (min-width: 768px) {
  .timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline-container ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline-container ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline-container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline-container ul li::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline-container ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline-container ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline-container ul li:hover::before {
    background-color: aqua;
  }
}

@media (max-width: 675px) {
  .modal {
    width: 66%;
    left: 16.5%;
  }

  .experience-title h2,
  .projects-title h2 {
    font-size: 45px;
  }

  .about-skills-container h4 {
    font-size: 20px;
  }

  .card h3 {
    font-size: 15px;
  }

  .card-date {
    font-size: 16px;
  }

  .card {
    padding: 0% 6%;
  }

  .proficient-row span,
  .intermediate-row span,
  .beginner-row span {
    font-size: 15px;
  }

  .post-title {
    font-size: 16px;
    line-height: 30px;
  }

  .about-info-container p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 100;
    letter-spacing: 1.22px;
    margin-bottom: 8%;
  }

  .about-info-container h2,
  .about-skills-container h2 {
    font-size: 45px;
  }

  .button-row button,
  .Typewriter button {
    height: 40px;
    padding: 0 4%;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    border: solid 2px black;
  }

  #top {
    background-image: url('./phone-bg.png');
    background-size: 100% 100%;
  }

  .top-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 66%;
    width: 100%;
    margin-bottom: 200px;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .projects-title h2,
  .experience-title h2,
  .about-info-title h2,
  .about-skills-title h2 {
    font-size: 36px;
  }

  #experience {
    background-image: url('./experience-bg-phone.png');
  }

  .project-item {
    padding-top: 6%;
  }

  .project-info-container h2 {
    font-size: 20px;
  }

  .project-info-container p {
    font-size: 13px;
    line-height: 20px;
  }

  .experience-title {
    margin-top: 50px;
  }

  .post-title {
    font-size: 13px;
    line-height: 24px;
  }

  .card-img-wrapper {
    width: 90%;
  }

  .card h3 {
    font-size: 12px;
  }

  .card h4 {
    font-size: 10px;
  }

  .card-date {
    font-size: 13px;
    padding: 45px 0;
  }

  .top-info-container > h1 {
    font-size: 36px;
    margin-top: -0.5%;
    margin-bottom: 0.5%;
    letter-spacing: 3px;
  }

  .button-row button,
  .Typewriter button {
    height: 35px;
    padding: 0 4%;
    font-weight: bold;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    border: solid 2px black;
  }

  #top {
    background-image: url('./phone-bg.png');
    background-size: 100% 100%;
  }

  .top-img-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 3%;
    margin-top: -20%;
  }

  .top-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 66%;
    width: 95%;
    margin-bottom: 250px;
    text-align: center;
  }
}

@media (max-width: 410px) {
  .post-title-break {
    display: none;
  }
}

.container-x {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 0px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.card,
.card-date {
  height: 100px;
}

.card-date {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.22px;
  padding: 40px 0;
  display: block;
  width: 100%;
}

.card-date p {
  margin: auto 0 auto 0;
}

.card {
  display: flex;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px 4%;
  background-color: white;
}

.card h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 1px 0;
}

.card h4 {
  font-weight: 100;
  font-size: 15px;
  margin: 0 3px 3px 0;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.card-img-wrapper {
  display: flex;
  width: 20%;
  margin-right: 8%;
  justify-content: center;
  align-items: center;
}

.card-img-wrapper img {
  width: 100%;
}

.card-wrapper .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  margin-left: 10px;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 10px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(-10px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}
