html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

section {
  width: 100%;
  padding: 0 10%;
}

.fixed-sidebar {
  position: fixed;
  top: 38.17%;
}

#icon-list {
  list-style: none;
  padding-left: 1.5vw;
}

#icon-list > li:not(:last-child) {
  margin-bottom: 5px;
}

.top {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-image: url(./background3.png);
  background-repeat: no-repeat;
}

.top > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-info-container {
  width: 66%;
}

.top-img-container {
  width: 34%;
}

.pre-title {
  font-size: 18px;
  font-weight: regular;
  margin: 0;
}

.top-info-container > h1 {
  font-size: 90px;
  margin-top: -0.5%;
  margin-bottom: 0.5%;
  letter-spacing: 6px;
}

a:link {
  text-decoration: none;
}

a.icon-link,
a.title-link {
  color: black;
  transition: all 250ms ease-in;
}

a.title-link:hover,
a.icon-link:hover {
  color: #a8dadc;
  fill: #a8dadc;
  stroke: #a8dadc;
}

.post-title {
  font-weight: 100;
  letter-spacing: 1.44px;
  font-size: 24px;
  line-height: 43px;
}

.Typewriter {
  display: inline;
}

.Typewriter__cursor {
  font-weight: 500;
  color: #e63946;
}

.typing-effect {
  font-weight: 500;
  color: #e63946;
}

.button-row > button,
.Typewriter > button {
  height: 50px;
  padding: 0 4%;
  font-weight: bold;
  font-size: 18px;
  margin-right: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  border: solid 2px black;
}

button > svg {
  padding-bottom: 1px;
}

button:hover svg path,
button:hover {
  border-color: #457b9d;
  color: #457b9d;
  fill: #457b9d;
  stroke: #457b9d;
  cursor: pointer;
}
